tinkering/
__pycache__/
uv.lock
.venv/
benchmarks_evaluation/
.experiments_logs/
old/
notebooks/analyze_heads_representations.ipynb
notebooks/plot_intrinsic_dimension.ipynb
notebooks/plot_renyi_entropy.ipynb
